@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>
    Compendium is under developement. The end goal is for users to have a place to create and organize thier project and ideas<br />
    Into sections such as goals, and files. The User can add the project to a portfolio where it can be marked private or public.<br />
    a private view of a project within the portfolio is for the users eyes only, and a public view of the project can be shared <br />
    with others. 
</p>
<p>
    Users can use the Pin-Board to seek assistant from others to help complete projects. The collaborated project can be added to <br />
    Users portfolio upon completion.
</p>
